@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  font-size: 16px;
  --primary-color: rgb(1, 47, 158);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

/* START NAV */
header {
  padding-left: 7%;
  padding-right: 7%;
  font-size: 1.2rem;
  display: flex;
  height: 75px;
  color: rgba(57, 89, 173);
}

.header__logo {
  height: 3rem;
  width: 3rem;
  align-self: center;
}
#logo {
  height: 3rem;
  width: 3rem;
}

nav {
  display: flex;
  align-self: center;
  margin-left: 2rem;
}

nav a {
  color: rgb(1, 47, 158);
  font-size: 1rem;
  margin-right: 1.5rem;
}

.header__login {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__login a {
  color: rgba(0, 31, 88);
  font-size: 12px;
}

.login__img {
  height: 12px;
  padding-left: 0.7rem;
  align-self: center;
  border-left: 1px solid rgba(176, 176, 176, 0.4);
  padding-right: 0.4rem;
}

.uk {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  color: black;
}
.header__login a:nth-child(1) {
  padding-right: 0.7rem;
}
.currency {
  border: none;
}

/* END NAV */

/* START MAIN */
/* main {
  max-width: 1600px;
} */

.hero {
  display: flex;
  background: url(../images/img1.jpg) center center/cover;
  width: 100%;
  height: 375px;
  align-items: center;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 7%;
  font-size: 1.1rem;
  color: white;
}
.hero__main-text h1 {
  line-height: 2rem;
}
.price {
  color: white;
  display: flex;
  margin-top: 0.5rem;
  font-family: "Open Sans", sans-serif;
}

.price__sub-text {
  font-size: 0.5rem;
  padding-top: 4px;
  align-self: start;
}

.main-text__btn {
  margin-top: 0.6rem;
  width: 7.5rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.7rem 0;
  color: white;
  border: none;
  background-color: rgba(1, 47, 158);
}

.main-text__btn:hover {
  background-color: rgb(0, 66, 220);
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  transition: 1s;
}

.hero__slider {
  display: flex;
  gap: 0.5rem;
}
.slider__btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  color: white;
}

.prev::before {
  font-family: "Font Awesome 6 Free";
  content: "\f060";
  font-weight: 900;
}

.next::before {
  font-family: "Font Awesome 6 Free";
  content: "\f061";
  font-weight: 900;
}

/*  */
/* END MAIN */
/*  */

/*  */
/* START PROMO */
/*  */
.promo {
  padding: 0 15%;
}
.promo__subheading {
  text-align: center;
  padding-top: 2.3rem;
  color: gray;
  font-size: 0.75rem;
}

.promo__title {
  padding-top: 5px;
  color: rgb(0, 48, 158);
  text-align: center;
  font-size: 2.3rem;
}

.promo__container {
  margin-top: 2.5rem;
}

.promo__container img {
  height: 4rem;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 0;
  margin-bottom: 2.25rem;
}

.card {
  padding-left: 0.8rem;
  display: flex;
  width: 20rem;
  gap: 2rem;
  color: rgba(2, 31, 88);
}

.card h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
}
.card p {
  font-size: 0.75rem;
}
/*  */
/* END PROMO */
/*  */

/*  */
/* START CITIES */
/*  */
.gallery {
  background-color: rgba(1, 47, 158);
  display: flex;
  flex-direction: column;
  padding: 0 16%;
  padding-bottom: 2.5rem;
}

.gallery__text {
  color: white;
  padding-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 0.85rem;
  font-weight: normal;
}

.cities {
  display: flex;
  /* justify-content: center; */
  gap: 2%;
}

.cities__card {
  background-color: white;
  padding-bottom: 1rem;
}

.card__img {
  width: 100%;
  display: block;
}

.cities__card h3 {
  padding-top: 1.2rem;
  padding-left: 10%;
  color: rgba(18, 46, 99);
  font-size: 1rem;
}
.cities__card p {
  margin-left: 10%;
  margin-bottom: 1.2rem;
  color: rgba(18, 46, 99);
  font-size: 0.8rem;
}

.cities__card a {
  padding-left: 10%;
  text-decoration: none;
  font-weight: bold;
  color: rgb(1, 47, 158);
  font-size: 1rem;
  margin-bottom: 2.2rem;
}
.cities__card a::after {
  font-family: "Font Awesome 6 Free";
  content: "\f054";
  font-weight: 900;
  font-size: 0.7em;
}
.london {
  position: relative;
}
.london__banner {
  top: 1rem;
  right: 27%;
  position: absolute;
  background-color: rgb(255, 237, 41);
  color: rgb(0, 48, 158);
  padding: 0.2rem 0;
  z-index: 1;
  font-size: 0.7rem;
  width: 8rem;
  text-align: center;
}

/*  */
/* END CITIES */
/*  */

/*  */
/* START LET US INSPIRE YOU */
/*  */

.inspire-you {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.4rem;
  color: rgba(1, 47, 158);
  padding: 1.8rem 15%;
}

.inspire-you__link {
  font-weight: bold;
  border-bottom: 2px dashed rgb(1, 47, 158);
  border-image: repeating-linear-gradient(
    to right,
    rgb(1, 47, 158) 0,
    rgb(1, 47, 158) 17px,
    transparent 17px,
    transparent 24px
  );
  border-image-slice: 1;
}

/*  */
/* END LET US INSPIRE YOU */
/*  */

/*  */
/* Services */
/*  */
.services {
  background-color: rgba(2, 31, 88);
  padding: 0 16% 2rem 16%;
}

.services__subheading {
  padding-top: 3rem;
  justify-self: center;
  color: white;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.services__heading {
  color: rgb(56, 188, 254);
  justify-self: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.services__description {
  width: 60%;
  font-size: 0.9rem;
  justify-self: center;
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

.services__link {
  text-align: end;
}
.services__link a {
  font-size: 0.9rem;
  color: rgba(44, 156, 220);
  border-bottom: 1px dashed rgb(56, 188, 254);
  border-image: repeating-linear-gradient(
    to right,
    rgb(56, 188, 254) 0,
    rgb(56, 188, 254) 5px,
    transparent 5px,
    transparent 10px
  );
  border-image-slice: 1;
}

.services__tab {
  margin-top: 1rem;
  background-color: white;
  margin-bottom: 2rem;
}
.upgrades {
  display: flex;
  height: 3rem;
}
.upgrades-hidden {
  display: none;
  justify-self: center;
}

.upgrades__regular {
  width: 33.3%;
  height: 3rem;
  border-top: 3px solid rgba(56, 188, 254);
  text-align: center;
  align-content: center;
  color: rgb(0, 36, 154);
  font-size: 1.2rem;
}
.upgrades__plus {
  width: 33.3%;
  height: 3rem;
  font-weight: lighter;
  text-align: center;
  align-content: center;
  background-color: #f0f0f0;
  color: #9f9f9f;
  font-size: 1.2rem;
  font-weight: 100;
}
.upgrades__plus h3 {
  font-weight: 400;
}

.upgrades__premium {
  width: 33.3%;
  height: 3rem;
  text-align: center;
  align-content: center;
  background-color: #f0f0f0;
  color: #9f9f9f;
  border-left: 2px solid rgb(198, 198, 198);
  font-size: 1.2rem;
}
.upgrades__premium h3 {
  font-weight: 400;
}

.content {
  display: flex;
}
.content-img {
  width: 33.3%;
  padding: 1rem 0 1.5rem 0;
}
.content-img img {
  border-radius: 50%;
  height: 8.75rem;
  margin-top: 1rem;
  display: flex;
  justify-self: center;
}
.middle-text {
  width: 32%;
  margin-top: 3rem;
  padding-left: 1.5rem;
  font-size: 0.8rem;
}
.blue-text {
  color: rgb(1, 47, 158);
  margin-bottom: 0.5rem;
}
.blue-text::before {
  font-family: "Font Awesome 6 Free";
  content: "\f00c";
  font-weight: 900;
  font-size: 1.3rem;
  margin-right: 0.7rem;
  color: rgb(1, 47, 158);
}
.right-text {
  width: 33.3%;
  margin-top: 3rem;
  font-size: 0.8rem;
}
.gray-text {
  color: rgb(229, 229, 229);
  margin-bottom: 0.5rem;
}
.gray-text::before {
  font-family: "Font Awesome 6 Free";
  content: "\24";
  font-weight: 900;
  font-size: 1.3rem;
  margin-right: 0.7rem;
}

/*  */
/* START FOOTER */
/*  */

.mail-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(1, 47, 158);
  height: 5.5rem;
  padding-left: 7%;
  padding-right: 7%;
}
.mail {
  display: flex;
  width: 35rem;
}
.mail label {
  font-size: 17px;
  color: white;
  align-self: center;
  margin-right: 4.1rem;
}
input[type="email"] {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  padding: 0.5rem 0;
  font-size: 0.75rem;
  width: 14.5rem;
  outline: none;
}
input[type="email"]::placeholder {
  color: rgb(96, 115, 183);
}

input[type="submit"] {
  background: transparent;
  border: none;
  color: white;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.media {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  color: white;
}
.media div {
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  border: 1px solid rgba(198, 198, 198, 0.3);
  border-radius: 50%;
  padding-top: 9px;
  padding-right: 1px;
}
.fb::before {
  font-family: "Font Awesome 6 Brands";
  content: "\f39e";
  font-weight: 400;
}
.tw::before {
  font-family: "Font Awesome 6 Brands";
  content: "\f099";
  font-weight: 400;
}
.ig::before {
  font-family: "Font Awesome 6 Brands";
  content: "\f16d";
  font-weight: 400;
}

/*  */
/*  */
/*  */
.mail-hidden {
  display: none;
}
.media-hidden {
  color: rgba(1, 47, 158);
  display: none;
}
.payment-privacy {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.3rem solid rgba(56, 189, 255);
  padding: 1.5rem 0;
}
.visa-amex img {
  height: 0.5rem;
  margin-bottom: 2px;
}

.mc-pic img {
  height: 1.2rem;
  width: 1.6rem;
}

.pp-pic img {
  height: 1.2rem;
  width: 1rem;
}

.payment-services {
  display: flex;
  gap: 1rem;
  margin-left: 7%;
}

.privacy-site-map {
  display: flex;
  gap: 0.5rem;
  padding-right: 5%;
  align-self: center;
  font-size: 0.75rem;
}

.privacy-site-map a {
  color: rgb(100, 100, 100);
}

@media (min-width: 768px) and (max-width: 1024px) {
  /*  */
  /* START NAVBAR */
  /*  */
  header {
    padding-right: 3%;
    padding-left: 3%;
    height: 110px;
    align-content: center;
  }
  .header__logo {
    height: 4.5rem;
    width: 4.5rem;
  }
  #logo {
    height: 4.5rem;
    width: 4.5rem;
  }
  nav {
    margin-left: 1.4rem;
  }
  nav a {
    color: rgb(31, 62, 158);
    font-size: 1.3rem;
    margin-right: 2rem;
  }
  .header__login {
    gap: 0.5rem;
  }
  .header__login a {
    color: black;
    font-size: 0.9rem;
  }
  .header__login a:nth-child(1) {
    padding-right: 0.5rem;
  }
  .login__img {
    padding-right: 0;
    padding-left: 1rem;
  }
  /*  */
  /* END NAVBAR */
  /*  */

  /*  */
  /* START MAIN */
  /*  */

  .hero {
    height: 460px;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 1.3rem;
  }
  .hero__main-text h1 {
    line-height: 3rem;
  }

  .price__sub-text {
    font-size: 0.8rem;
    padding-top: 6px;
  }
  .main-text__btn {
    width: 11rem;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    padding: 1rem 0;
  }
  .hero__slider__btn {
    height: 3.2rem;
    width: 3.2rem;
    font-size: 1.5rem;
  }
  /*  */
  /* END MAIN */
  /*  */

  /*  */
  /* FLY SMART SECTION */
  /*  */
  /* .row {
    justify-content: space-between;
    gap: 0;
  } */
  .promo {
    padding: 0 3%;
  }
  .promo__subheading {
    font-size: 0.8rem;
    padding-top: 1.5rem;
  }
  .promo__title {
    font-size: 2rem;
    padding-top: 1rem;
  }
  .promo__container {
    margin-top: 2.5rem;
  }
  .promo__container img {
    height: 6rem;
  }
  .row {
    gap: 0.5rem;
    margin-bottom: 3.7rem;
  }
  .row div:nth-child(2) {
    padding-left: 0.5rem;
  }
  .card {
    width: 25rem;
    padding-left: 0;

    gap: 1rem;
  }
  .card h3 {
    font-size: 1.2rem;
  }
  .card p {
    font-size: 1rem;
  }

  /*  */
  /* FLY SMART SECTION */
  /*  */

  /*  */
  /* START CITIES */
  /*  */
  .gallery {
    padding: 0 4% 2rem 4%;
  }

  .gallery__text {
    padding-top: 3.4rem;
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
  }
  .cities {
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-between;
  }

  .cities__card h3 {
    padding-top: 0.9rem;
    padding-left: 8%;
    font-size: 1.5rem;
  }

  .cities__card p {
    margin-left: 8%;
    margin-bottom: 5%;
    font-size: 1.2rem;
  }

  .cities__card a {
    padding-left: 8%;
    font-size: 1.5rem;
  }
  .cities__card {
    width: 49%;
    padding-bottom: 1.35rem;
    margin-bottom: 1.5rem;
  }
  .london__banner {
    width: 14rem;
    font-size: 1.1rem;
    right: 37%;
  }

  /*  */
  /* END CITIES */
  /*  */
  .inspire-you {
    padding: 3rem 3%;
    font-size: 1.7rem;
  }
  .inspire-you__link {
    border-image: repeating-linear-gradient(
      to right,
      rgb(1, 47, 158) 0,
      rgb(1, 47, 158) 25px,
      transparent 25px,
      transparent 33px
    );
    border-image-slice: 1;
  }
  /*  */
  /* START SERVICES */
  /*  */

  .services {
    padding: 0 3% 3rem 3%;
  }
  .services__description {
    width: 84%;
  }
  .services__subheading {
    font-size: 0.8rem;
  }
  .services__heading {
    font-size: 2.3rem;
  }

  .services__link a {
    font-size: 1rem;
  }
  .services__tab {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  /*  */
  /* END SERVICES */
  /*  */

  /*  */
  /* START FOOTER */
  /*  */
  .mail-media {
    height: 18rem;
    padding: 0;
    display: block;
  }
  .mail {
    display: none;
  }
  .mail-hidden {
    display: block;
  }
  .mail-hidden label {
    display: block;
    color: white;
    padding: 2.5rem 0rem 2rem 0rem;
    text-align: center;
    font-size: 1.85rem;
  }

  #mail-hidden {
    width: 70%;
    margin-left: 15%;
    outline: none;
    margin-bottom: 2.5rem;
  }
  input[type="email"] {
    border-bottom: 2px solid white;
    font-size: 1.2rem;
  }

  .mail-hidden input[type="submit"] {
    display: block;
    background-color: white;
    color: rgba(1, 47, 158);
    width: 40%;
    height: 3.2rem;
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 30%;
  }
  .media {
    display: none;
  }

  /*  */
  /*  */
  /*  */

  .payment-privacy {
    display: block;
    padding: 0;
    border-bottom: 1rem solid rgba(56, 189, 255);
  }
  .media-hidden {
    display: block;
    text-align: center;
  }

  .media-hidden p {
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }

  .media-hidden__brands {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .media-hidden__brands div {
    height: 3.3rem;
    width: 3.3rem;
    text-align: center;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 50%;
    align-content: center;
  }
  .fb::before {
    font-size: 1.5rem;
  }
  .tw::before {
    font-size: 1.5rem;
  }
  .ig::before {
    font-size: 1.5rem;
  }

  .payment-services {
    padding: 0;
    margin-top: 2.5rem;
    justify-self: center;
    align-items: center;
    gap: 2rem;
    margin-left: 0;
  }
  .payment-services img {
    height: 1.2rem;
    align-self: flex-end;
  }

  .mc-pic img {
    height: 2.5rem;
    width: 3.2rem;
  }

  .pp-pic img {
    height: 2.5rem;
    width: 2.5rem;
  }

  .privacy-site-map {
    padding: 0;
    justify-self: center;
    margin-top: 2rem;
    margin-bottom: 2.2rem;
    font-size: 1rem;
    gap: 1.25rem;
  }

  /*  */
  /* END FOOTER */
  /*  */
}

/*  */
/* MIBILE VIEW  */
/*  */
@media (max-width: 767px) {
  header {
    padding: 0;
    padding-right: 5%;
    height: 4.5rem;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }
  .header__logo {
    position: absolute;
    top: 1rem;
    left: 2.5%;
    height: 2.5rem;
    width: 2.5rem;
  }
  #logo {
    height: 2.5rem;
    width: 2.5rem;
  }

  nav {
    order: 2;
    align-self: end;
    color: rgba(1, 47, 158);
    font-weight: bolder;
    font-size: 1rem;
    gap: 0;
    width: auto;
  }
  nav a {
    padding-left: 2.5rem;
    font-size: 1rem;
    color: rgb(1, 47, 158);
    margin: 0;
  }
  .header__login {
    align-self: flex-end;
    order: 1;
    gap: 0;
  }
  .header__login a {
    color: black;
    font-size: 0.8rem;
  }
  .header__login a:nth-child(1) {
    padding-right: 1rem;
  }

  .login__img {
    height: 1rem;
    margin-top: 0;
    padding-right: 0.5rem;
    border-left: 2px solid rgba(217, 217, 217, 0.8);
  }

  .uk {
    display: none;
  }

  /*  */
  /*   END NAVBAR */
  /*  */

  /*  */
  /* START MAIN */
  /*  */

  .hero {
    padding-left: 4%;
    font-size: 0.9rem;
    align-items: flex-start;
    padding-top: 2rem;
    height: 220px;
    font-weight: bolder;
  }
  .hero__main-text h1 {
    line-height: 1.4rem;
  }
  .price {
    margin-top: 0.5rem;
  }
  .price__sub-text {
    font-size: 0.5rem;
    padding-top: 4px;
  }
  .main-text__btn {
    padding: 0.6rem 0;
    font-size: 0.9rem;
    width: 6.25rem;
  }

  .hero__slider {
    align-self: flex-end;
    padding-bottom: 1rem;
  }

  /*  */
  /* END MAIN */
  /*  */

  /*  */
  /* START FLY SMART */
  /*  */
  .promo {
    padding: 0 5%;
  }
  .promo__subheading {
    font-size: 1rem;
    padding-top: 1rem;
  }
  .promo__title span {
    display: block;
  }
  .promo__container {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .row {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
  }

  .card {
    width: 100%;
    padding: 0;
    gap: 1rem;
  }
  .card h3 {
    font-size: 1.3rem;
  }
  .card p {
    font-size: 0.95rem;
  }

  /*  */
  /* END FLY SMART */
  /*  */

  /*  */
  /* START CITIES */
  /*  */
  .gallery {
    padding: 0 5%;
  }
  .gallery__text {
    font-size: 2.5rem;
    text-align: center;
  }
  .gallery__text span {
    display: block;
  }

  .cities {
    flex-direction: column;
  }

  .cities__card {
    width: 100%;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
  .cities__card h3 {
    font-size: 2rem;
    padding-top: 2rem;
  }
  .cities__card p {
    font-size: 2rem;
    margin-bottom: 1.8rem;
  }
  .cities__card a {
    font-size: 2rem;
  }
  .london__banner {
    font-size: 1.3rem;
    width: 14rem;
    padding: 7px 0px;
    top: 2rem;
    right: 35%;
  }

  /*  */
  /* END CITIES */
  /*  */

  /*  */
  /* START Let us inspire you  */
  /*  */
  .inspire-you {
    font-size: 1.8rem;
    padding: 1.8rem 5%;

    height: auto;
  }
  .inspire-you__link {
    justify-self: center;
    display: block;
    margin-top: 0.8rem;
    border-image: repeating-linear-gradient(
      to right,
      rgb(1, 47, 158) 0,
      rgb(1, 47, 158) 21px,
      transparent 21px,
      transparent 30px
    );
    border-image-slice: 1;
  }

  /*  */
  /* END Let us inspire you */
  /*  */

  /*  */
  /* START SERVICES */
  /*  */
  .services {
    padding: 0 5% 1.5rem 5%;
  }
  .services__subheading {
    padding-top: 3.7rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .services__heading {
    line-height: 2.1rem;
    font-size: 2.5rem;
    text-align: center;
  }
  .services__heading span {
    display: block;
  }
  .services__description {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .services__description span {
    display: none;
  }

  .services__link {
    text-align: center;
    margin-bottom: 3rem;
  }
  .services__link a {
    font-size: 1.4rem;
    border-image: repeating-linear-gradient(
      to right,
      rgb(56, 188, 254) 0,
      rgb(56, 188, 254) 12px,
      transparent 12px,
      transparent 17.5px
    );
    border-image-slice: 1;
  }

  .upgrades {
    display: none;
  }
  .services__tab {
    display: none;
    justify-content: center;
  }

  .upgrades-hidden {
    display: block;
    width: 100%;
  }

  .upgrades__box {
    background-color: white;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-top: 8px solid rgb(1, 47, 158);
    margin-bottom: 2rem;
  }
  .upgrades__box img {
    border-radius: 50%;
    height: 7rem;
    margin: 0.85rem auto;
    display: block;
  }
  .upgrades__box h3 {
    text-align: center;
    color: rgb(1, 47, 158);
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
  }
  .blue-text::before {
    font-size: 1.7rem;
  }
  .blue-text {
    margin-left: 10%;
    margin-bottom: 0.8rem;
  }
  .gray-text::before {
    font-size: 1.7rem;
    margin-right: 0.95rem;
  }
  .gray-text {
    margin-left: 10%;
    margin-bottom: 0.7rem;
  }
  /*  */
  /* END SERVICES */
  /*  */

  /*  */
  /* START FOOTER */
  /*  */
  .mail-media {
    padding: 0 5%;
    height: auto;
    padding-bottom: 3.5rem;
    display: block;
  }
  .mail {
    display: none;
  }
  .mail-hidden {
    display: block;
    flex-direction: column;
    align-items: center;
  }
  .mail-hidden label {
    display: block;
    font-size: 1.4rem;
    color: white;
    padding-top: 2.3rem;
    padding-bottom: 2.7rem;
    text-align: center;
  }

  #mail-hidden {
    width: 100%;

    margin-bottom: 2rem;
  }
  input[type="email"] {
    padding: 1.1rem 0;
    font-size: 1rem;
  }

  .mail-hidden input[type="submit"] {
    font-family: "Open Sans", sans-serif;
    display: block;
    background-color: white;
    color: rgba(1, 47, 158);
    width: 100%;
    height: 3.5rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .media {
    display: none;
  }

  /*  */
  /*  */
  /*  */

  .payment-privacy {
    display: block;
    padding: 0;
    border-bottom: 1rem solid rgba(56, 189, 255);
  }
  .media-hidden {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .media-hidden p {
    font-size: 1.1rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
  .media-hidden i {
    padding-top: 1.1rem;
    font-size: 1.7rem;
  }
  .media-hidden__brands {
    display: flex;
    justify-content: center;
    gap: 5%;
  }
  .media-hidden__brands div {
    height: 4rem;
    width: 4rem;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 50%;
    align-content: center;
    font-size: 1.5rem;
  }

  .payment-services {
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 7%;
    margin-left: 0;
  }
  .payment-services img {
    height: 1rem;
    align-self: flex-end;
  }

  .mc-pic img {
    height: 2.1rem;
    width: 2.8rem;
  }

  .pp-pic img {
    height: 2rem;
    width: 1.6rem;
  }

  .privacy-site-map {
    padding: 0;
    justify-content: center;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    font-size: 1rem;
    gap: 5%;
    width: 100%;
  }

  /*  */
  /* END FOOTER */
  /*  */
}
