.navbar {
  display: flex;
  justify-content: end;
}
.text-underline {
  font-size: 3rem;
  text-align: center;
  width: 30rem;
  border-bottom: 3px dashed rgb(1, 47, 158);
  border-image: repeating-linear-gradient(
    to right,
    #012f9e 0 25px,
    transparent 25px 33px
  );
  border-image-slice: 1;
}
